//  Sass variables
$primary-color: rgb(8, 40, 80);
$secondary-color: #bbb9ccc2;
$show-home-image: true;
$home-background: url(../img/background1.jpg);
$background-opacity: 0.8;

// Sass mixins
@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-background;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }
    }
}

// Text Color
@function text-color($color) {
    @if (lightness($color) > 40) {
        @return #000000;
    } @else {
        @return #ffffff;
    }
}

// Media Queries
@mixin smallScreen {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin medScreen {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin lgScreen {
    @media screen and (mix-width: 769px) and (max-width) {
        @content;
    }
}

@mixin xlgScreen {
    @media screen and (mix-width: 1171px) {
        @content;
    }
}