@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

// Body styles
body {
  @include background;
  background: $primary-color;
  color: text-color($primary-color);
  min-height: calc(100vh - 60px);
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

.main-text {
  text-align: center;
  align-items: center;

}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 3rem;
  }

  &.sm-heading {
    margin-bottom: 1rem;
    padding: 0.2rem 1rem;

    &.back {
      background: rgba(lighten($primary-color, 8), 0.4);

    }
  }
}

// All anchor tags

a {
  color: #fff;
  text-decoration: none;
}

// header

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

// text color on last name
.text-secondary {
  color: $secondary-color;
}

// main section

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }

  &#home {
    overflow: hidden;

    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    's-1 s-2 s-3';
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bioimage;
  margin: auto;
  border-radius: 50%;
  border: $secondary-color 3px solid;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
  color: text-color($primary-color)
}

.s-1 {
  grid-area: s-1;
}

.s-2 {
  grid-area: s-2;
}

.s-3 {
  grid-area: s-3;
}

.section {
  background: darken($primary-color, 4);
  padding: 0.5rem;
  border-bottom: $secondary-color 4px solid;
  border-top: $secondary-color 4px solid;
}

#main-footer {
  text-align: center;
  padding: .5rem;
  background: darken($primary-color, 4);
  color: text-color($primary-color);
  height: 60px;
}

@import "mobile";